<% if object.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p>Please fix the following errors</p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

<% end %>
